<tr class="line-data <%= cycle('odd', 'even') %>">
  <td class="position"><%= line.position %></td>
  <%= render :partial => 'invoices/line_description', :locals => {:line => line} %>
  <% InvoiceLine.new.available_custom_fields.each do |custom_field| %>
    <td class="custom_field_<%= custom_field.id %>"><%= simple_format_without_paragraph(show_value(line.custom_value_for(custom_field))) %></td>
  <% end %>
  <td class="quantity">x<%= line.quantity %></td>
  <% if InvoicesSettings.show_units? %>
    <td class="units"><%= line.units %></td>
  <% end %>
  <td class="price"><%= line.price_to_s %></td>
  <% if invoice.has_taxes?  %>
  <td class="tax gst" title="<%= "#{l(:field_invoice_line_tax_amount_gst)}: #{price_to_currency(line.tax_amount_gst, invoice.currency)}" if line.tax_gst %>"><%= line.tax_gst.to_s + '%' if line.tax_gst.to_f > 0.0 %></td>
  <td class="tax pst" title="<%= "#{l(:field_invoice_line_tax_amount_pst)}: #{price_to_currency(line.tax_amount_qst, invoice.currency)}" if line.tax_pst %>"><%= line.tax_pst.to_s + '%' if line.tax_pst.to_f > 0.0 %></td>
  <% end %>
  <td class="total_price"><%= price_to_currency(line.total, invoice.currency) %></td>
</tr>
